/*Responsive Media Query*/
@media (min-width: 1200px){
    .container {max-width: 1440px;}
}
@media (min-width: 992px){
    .modal-lg, .modal-xl {max-width: 770px;}
}
/*Mobile*/
@media screen and (max-width: 767px) {
    /*Common*/
    .container {max-width: 100%;}
    .banner div {padding-left: 0; font-size: 36px; line-height: 42px; padding-right: 0; padding-top: 115px;}
    .our-partners .container-fluid {width: 100%;}
    section {padding: 60px 0;}
    h1{font-size: 26px; margin-bottom: 20px;}
    .btn{padding: 10px 25px !important; font-size: 14px;}
    .form-group{margin-bottom: 15px;}
    .form-control {height: 46px;}
    /*Header*/
    header .logo{text-align: center;}
    header .logo a{font-size: 24px;}
    header .nav-right {display: block; float: none;}
    header .nav-right .gradient-btn {width: 100%; margin-top: 12px; margin-bottom: 8px; padding: 8px !important;}
    header .nav-right .dropdown {display: inline-flex; margin: 0;}
    header .menu-drop {margin-right: 140px;}
    /*Home Banner*/
    .home-banner .carousel-caption{left: 3%; top: 0; padding: 5px 0;}
    .home-banner .carousel-caption h2{font-size: 16px; margin-bottom: 10px;}
    .home-banner .carousel-caption h2 span {font-size: 14px;}
    .home-banner .carousel-caption h4{font-size: 14px; margin-bottom: 0;}
    .home-banner .carousel-caption h4 span {font-size: 16px;}
    .home-banner .carousel-caption p{margin-bottom: 10px; font-size: 16px;}
    .home-banner .col-lg-3 {flex: 0 0 60%; max-width: 60%;}
    .home-banner .btn-primary {padding: 8px 0 !important; font-size: 12px; margin-top: 20px; font-weight: 500;}
    .home-banner .carousel-caption img {width: 50%; margin-bottom: 10px;}
    .home-banner .carousel-caption h5 span{font-size: 12px;}
    .home-banner .carousel-caption h5 {font-size: 12px; margin-top: 15px;}
    .banner-img img {height: 400px; object-fit: cover;}
    /*Footer*/
    footer {padding-top: 20px;}
    footer p{padding: 10px 0; font-size: 16px;}
    footer .footer-links ul li {display: block; margin-bottom: 10px; text-align: left;}
    footer .footer-links ul li a {font-size: 16px;}
    footer .footer-links ul li:after{display: none;}
    footer .footer-logo {margin-bottom: 20px; text-align: left;}
    .footer-logo img {width: 50%;}
    footer .other-links ul li {display: block; margin: 0 0 10px 0; text-align: left;}
    footer .other-links ul li a {font-size: 16px;}
    /*Inner Banner*/
    .banner{background-position: 75%;}
    /*Our Partners Home*/
    .our-partners{background: #fff; height: auto;}
    .p-logo{margin-bottom: 30px;}
    .owl-theme .owl-dots{margin-top: -20px;}
    .testimonial{background: #0e173f; height: auto; border-radius: 20px; padding: 20px; margin-top: 30px;}
    .testimonial p{padding-top: 20px;font-size: 16px;}
    .testi-quote{top: 0;}
    .testimonial h4 {font-size: 20px; margin-bottom: 10px;} 
    .testimonial h5 {font-size: 16px;}
    .testimonial h6 {font-size: 14px;}
    .testimonial .owl-theme .owl-nav {margin-top: 20px;}
    .testimonial .owl-theme .owl-nav [class*='owl-'] {margin: 10px;}
    /*Why VC*/
    .why {padding: 20px;}
    .why h1 {font-size: 20px; margin-bottom: 30px;}
    .why-box p {font-size: 12px;}
    .why-box{margin-bottom: 30px;}
    .why-box img {width: 25%;}
    /*Compliance*/
    .comp-box{margin-bottom: 30px;}
    .buss-sol p {font-size: 18px; margin-bottom: 20px;}
    .buss-sol .btn {margin-top: 5px;}
    /*Follow*/
    .follow h1 {margin-bottom: 30px;}
    .num {text-align: left; display: flex; justify-content: left; margin-bottom: 30px;}
    .num h5 {font-size: 100px}
    .num p {font-size: 14px; margin-top: 16px;}
    .follow-btn {margin-top: 20px;}
    .follow{height: 735px;}
    /*About Page*/
    .about-section1 img, .section2-img img, .about-section3 img {width: 100%; height: auto; margin-bottom: 30px;}
    .about-section1 p, .about-section3 p {margin-bottom: 20px;}
    .about-content p {font-size: 14px; line-height: 24px;}
    .about-section1, .about-section2 {margin-bottom: 0;}
    .aboutbg-text{width: 90%;}
    .aboutbg-text p{font-size: 16px; margin-bottom: 20px;}
    .aboutbg-text a {font-size: 22px;}
    .pros-check p {font-size: 15px;}
    .pros-check .btn {margin: 20px 0;}
    .ind-sector ul li{font-size: 14px; width: 100%;}
    .ind-sector ul li::before{top: 0;}
    .ind-sector ul li:after{margin: 10px 0;}
    .aboutbg img {object-fit: cover; height: 500px;}
    /*Blog*/
    .blog-img {height: 188px;}
    .blog-box-text {padding: 20px;}
    .blog-detail-img img{width: 100%;}
    .blog-detail{font-size: 16px;}
    .blog-detail p {margin-bottom: 20px;}
    .blog-detail h1 {font-size: 26px; margin-bottom: 25px;}
    .recent-blogs h1 {margin-top: 50px; margin-bottom: 0;}
    /*FAQ*/
    .faq .panel-body{font-size: 16px;}
    .faq .panel-toggle{font-size: 18px;}
    /*Contact Us*/
    .contact-form {padding: 15px;}   
    .g-map Iframe {height: 300px;}
    .form-box .pr-0{padding-right: 15px !important;}
    .form-box .pl-0{padding-left: 15px !important;}
    .contact-form h1 {margin-top: 20px; margin-bottom: 30px;}
    .contact-box {padding: 15px; height: 175px;}
    .contact-here p, .contact-here a {font-size: 14px;}
    .contact-img h4{font-size: 15px; margin-left: 15px;}
    .contact-img{margin-bottom: 30px;}
    .contact-here {margin-bottom: 40px;}
    .contact-box{margin-bottom: 30px;}
    .contact-form .btn, .contact-form textarea.form-control {margin: 0;}
    /*Quote*/
    .block-class h6 {font-size: 16px; margin-bottom: 10px;}
    .block-class p {font-size: 14px;}
    .quote-box h1 br{display: none;}
    .quote-img{margin-bottom: 30px;}
    .quote-text p {font-size: 14px; margin-bottom: 15px;}
    .quote-bg p{font-size: 18px; padding-top: 70px; padding-bottom: 45px;} 
    .quote-bg{height: 550px;}
    .quote-box-text img {width: 25%; height: 30%;}
    .quote-main {margin-bottom: 60px;}
    .quote h1{margin-bottom: 40px;}
    /*Client Review*/
    .review{padding: 15px;}
    .review p{font-size: 14px;}
    .click-block {padding: 20px 5px; margin-bottom: 30px;}
    .click-block p{font-size: 14px;}
    .review-block-text p{font-size: 16px; margin-top: 0;}
    .client .equal-height-wrapper-35rnL {height: auto !important;}
    /*Login*/
    .login {margin: 0 15px; font-size: 14px;}
    .login-form .no-acc p{font-size: 14px;}
    .forgot-pwd {margin-bottom: 15px;}
    .login-form {padding: 40px 15px;}
    .login-form .forgot-pwd a{float: none;}
    .login-form .forms {position: relative; width: 280px;}
    .login-img-text{width: 280px;}
    .login-form .forms .form-group {margin-bottom: 15px;}
    .login-form .forms .form-control{font-size: 14px;}
    .login .form-check-input {margin-top: 4px;}
    .login-img-text h2{font-size: 32px;}
    .login #g-recaptcha, .reg-form #g-recaptcha {transform:scale(0.77); transform-origin:0 0;}
    /*Register*/
    .reg-gradient, .reg-bottom-text{padding: 20px;}
    .reg-gradient p, .reg-bottom-text p{font-size: 16px;}
    .reg-gradient a {font-size: 18px;}
    .note p, .reg-gradient span{font-size: 14px;}
    /*Order*/
    .sidebar {margin-bottom: 30px;}
    .sidebar .nav a{padding: 10px 20px; font-size: 14px;}
    .sidebar .nav a.firstchild{font-size: 14px;}
    .orders table th, .orders table td{padding: 5px; font-size: 12px;}
    .acc-details label {font-size: 16px;}
    .dashboard-box{padding: 20px;}
    .acc-details .form-group {margin-bottom: 20px;}
    .address h5 {font-size: 16px; margin-bottom: 20px;}
    .address p {font-size: 14px; line-height: 22px;}
    .address h4 {font-size: 16px;}
}

/*Ipad*/
@media (min-width: 768px) and (max-width: 991px) {
    /*Common*/
    .container {max-width: 100%;}
    .banner div{padding-left: 0; line-height: 52px; font-size: 46px; padding-top: 150px;}
    .our-partners .container-fluid {width: 100%;}
    .btn{padding: 12px 32px !important; font-size: 14px;}
    h1{font-size: 36px;}
    section {padding: 50px 0;}
    .form-control {height: 48px;}
    /*Header*/
    .logo{ display: flex; align-items: center; height: 46px;}
    header .logo a{font-size: 20px;}
    header .nav-right .dropdown {margin: 0 10px;}
    header .lang-drop {margin-top: 6px;}
    /*Home Banner*/
    .home-banner .carousel-caption{left: 3%; top: 0;}
    .home-banner .carousel-caption h2{display: none;}
    .home-banner .carousel-caption h4{display: none;}
    .home-banner .carousel-caption p{margin-bottom: 10px; font-size: 16px;}
    .home-banner .col-lg-3 {flex: 0 0 60%; max-width: 60%;}
    .home-banner .btn-primary{padding: 14px 0 !important;}
    .home-banner .carousel-caption img {width: 50%;}
    /*Footer*/
    footer p{padding: 25px 0;}
    footer .other-links ul li{margin: 25px 25px;}
    footer .footer-links ul li:after{padding: 0 5px;}
    /*Compliance*/
    .comp-logos .row {margin: 0 -15px;}
    .comp-logos .col-md-6 {padding: 0 15px;}
    .comp-box{margin-bottom: 30px;}
    .comp-box h6{font-size: 12px; line-height: 16px;}
    .buss-sol br{display: none;}
    .buss-sol p {font-size: 16px; margin-bottom: 18px;}
    /*Follow*/
    .follow{height: 715px;}
    /*Why VC*/
    .why-box br{display: none;}
    .why-box p {font-size: 16px;}
    /*Our Partners Home*/
    .our-partners{background: #fff; height: auto;}
    .p-logo{margin-bottom: 30px;}
    .owl-theme .owl-dots{margin-top: -20px;}
    .testimonial{background: #0e173f; height: auto; border-radius: 20px; padding: 20px;}
    .testimonial p{padding-top: 20px;font-size: 16px;}
    .testi-quote{top: 0;}
    .testimonial h4 {font-size: 20px; margin-bottom: 10px;} 
    .testimonial h5 {font-size: 16px;}
    .testimonial h6 {font-size: 14px;}
    .testimonial .owl-theme .owl-nav {margin-top: 20px;}
    .testimonial .owl-theme .owl-nav [class*='owl-'] {margin: 10px;}
    .partner-logos .col-md-6 {padding: 0 15px;}
    .partner-logos .row {margin: 0 -15px;}
    /*About Page*/
    .about-section1 img, .section2-img img, .about-section3 img {width: 100%; height: auto; margin-bottom: 30px;}
    .about-section1 p, .about-section3 p {margin-bottom: 20px;}
    .about-content p {font-size: 16px; line-height: 28px;}
    .about-section1, .about-section2 {margin-bottom: 0;}
    .aboutbg-text{width: 80%;}
    .aboutbg-text p{font-size: 18px; margin-bottom: 20px;}
    .aboutbg-text a {font-size: 22px;}
    .pros-check p {font-size: 15px;}
    .pros-check .btn {margin: 20px 0;}
    .ind-sector ul li{font-size: 14px; width: 33.33%;}
    .ind-sector ul li::before{top: 0;}
    /*Blog*/
    .blog-img {height: 266px;}
    .blog-box-text {padding: 20px;}
    .blog-detail-img img{width: 100%;}
    .blog-detail{font-size: 16px;}
    .blog-detail p {margin-bottom: 25px;}
    .blog-detail h1 {font-size: 26px; margin-bottom: 25px;}
    /*FAQ*/
    .faq .panel-body{font-size: 16px;}
    .faq .panel-toggle{font-size: 18px;}
    /*Contact Us*/
    .contact-form {padding: 50px 25px;}   
    .g-map Iframe {height: 900px;}
    .contact-box {padding: 15px; height: 175px;}
    .contact-here p, .contact-here a {font-size: 14px;}
    .contact-img h4{font-size: 15px; margin-left: 15px;}
    .contact-img{margin-bottom: 30px;}
    .contact-here {margin-bottom: 80px;}
    .contact-form .btn, .contact-form textarea.form-control {margin: 0;}
    /*Quote*/
    .block-class h6 {font-size: 16px; margin-bottom: 10px;}
    .block-class p {font-size: 14px;}
    .quote-box h1 br{display: none;}
    .quote-text p {font-size: 14px; margin-bottom: 19px;}
    /*Client Review*/
    .review p{font-size: 16px;}
    .click-block {padding: 20px 5px;}
    .click-block p{font-size: 14px;}
    .review-block-text p{font-size: 16px;}
    .client .equal-height-wrapper-35rnL {height: auto !important;}
    /*Login*/
    .login-img img {width: 100%;}
    .login .form-check-input {margin-top: 2px;}
    .login {margin: 0 15px; font-size: 12px;}
    .login-form .forms{width: 325px;}
    .login-form .forms .form-group {margin-bottom: 15px;}
    .login-img-text p {font-size: 14px; line-height: 20px;}
    .login-form .check-content{padding-left: 22px; font-size: 14px;}
    .login-form .forms .form-control{font-size: 12px;}
    .login-img-text{width: 300px;}
    .reg-text {margin: 0;}
    .login-form .no-acc p{font-size: 12px; margin-top: 15px;}
    .login-img-text h2{font-size: 32px;}
    .login .form-control{height: 38px;}
    .login #g-recaptcha {transform:scale(0.77); transform-origin:0 0;}
    /*Register*/
    .reg-gradient, .reg-bottom-text{padding: 40px;}
    .reg-gradient p, .reg-bottom-text p{font-size: 18px;}
    .reg-gradient a {font-size: 20px;}
    /*Order*/
    .sidebar .nav a{padding: 10px; font-size: 12px;}
    .sidebar .nav a.firstchild{font-size: 14px;}
    .orders table th, .orders table td{padding: 10px; font-size: 12px;}
    .sidebar .nav a img {margin-right: 0; width: 15%;}
    .acc-details label {font-size: 16px;}
    .dashboard-box{padding: 20px;}
    .acc-details .form-group {margin-bottom: 20px;}
    .address h5 {font-size: 16px; margin-bottom: 20px;}
    .address p {font-size: 14px; line-height: 22px;}
    .address h4 {font-size: 16px;}
}

/*991*/
@media (min-width: 835px) and (max-width: 992px) {
    /*Home Banner*/
    .home-banner .carousel-caption {left: 3%; top: 10%;}
    /*Contact Us*/
    .contact-form {padding: 75px 25px;}
    /*Quote*/
    .quote-text p {font-size: 16px; margin-bottom: 28px;}
    /*Order*/
    .sidebar .nav a img {margin-right: 10px;}
}

/*1024*/
@media (min-width: 992px) and (max-width: 1199px) {
    /*Common*/
    .container {max-width: 100%;}
    .banner div{padding-left: 0; line-height: 52px; font-size: 46px; padding-top: 166px;}
    .our-partners .container-fluid {width: 100%;}
    h1{font-size: 36px;}
    section {padding: 50px 0;}
    .btn{padding: 12px 32px !important;}
    /*Header*/
    header .nav-right .dropdown {margin: 0 30px;}
    header .lang-drop{margin-top: 8px;}
    /*Home Banner*/
    .home-banner .carousel-caption{left: 3%;}
    .home-banner .carousel-caption h2{display: none;}
    .home-banner .carousel-caption h4{display: none;}
    .home-banner .carousel-caption p{margin-bottom: 10px;}
    .home-banner .col-lg-3 {flex: 0 0 60%; max-width: 60%;}
    .home-banner .btn-primary{padding: 14px 0 !important;}
    /*Footer*/
    footer p{padding: 25px 0;}
    footer .other-links ul li{margin: 25px 25px;}
    /*Compliance*/
    .comp-logos .col-md-6 {padding: 0 15px;}
    .comp-logos .row {margin: 0 -15px;}
    .comp-box{margin-bottom: 30px;}
    .buss-sol p {font-size: 17px; margin-bottom: 28px;}
    /*Why VC*/
    .why-box{margin-bottom: 45px;}
    .why-box br{display: none;}
    .why-box p {font-size: 17px;}
    .why h1 {margin-bottom: 50px;}
    .follow{height: 725px;}
    /*Our Partners Home*/
    .our-partners{background: #fff; height: auto;}
    .p-logo{margin-bottom: 30px;}
    .owl-theme .owl-dots{margin-top: -20px;}
    .testimonial{background: #0e173f; height: auto; border-radius: 20px; padding: 20px;}
    .testimonial p{padding-top: 20px;font-size: 16px;}
    .testi-quote{top: 0;}
    .testimonial h4 {font-size: 20px; margin-bottom: 10px;} 
    .testimonial h5 {font-size: 16px;}
    .testimonial h6 {font-size: 14px;}
    .testimonial .owl-theme .owl-nav {margin-top: 20px;}
    .testimonial .owl-theme .owl-nav [class*='owl-'] {margin: 10px;}
    .partner-logos .col-md-6 {padding: 0 15px;}
    .partner-logos .row {margin: 0 -15px;}
    /*About Page*/
    .about-content p{margin-bottom: 10px; font-size: 15px; line-height: 24px;}
    .about-section2 .comp-box h6{font-size: 15px; line-height: 20px;}
    .about-section1, .about-section2 {margin-bottom: 40px;}
    .aboutbg-text{width: 80%;}
    .aboutbg-text p{font-size: 18px; margin-bottom: 20px;}
    .aboutbg-text a {font-size: 22px;}
    .pros-check p {font-size: 15px;}
    .pros-check .btn {margin: 20px 0;}
    .ind-sector ul li{font-size: 14px; width: 33.33%;}
    .ind-sector ul li::before{top: 0;}
    /*Blog*/
    .blog-img {height: 317px;}
    .blog-detail{font-size: 16px;}
    .blog-detail p {margin-bottom: 25px;}
    .blog-detail h1 {font-size: 26px; margin-bottom: 25px;}
    /*FAQ*/
    .faq .panel-body{font-size: 16px;}
    .faq .panel-toggle{font-size: 18px;}
    /*Contact Us*/
    .g-map Iframe {height: 935px;}
    .contact-box{padding: 60px 15px;}
    .contact-here p, .contact-here a {font-size: 16px;}
    .contact-here {margin-bottom: 100px;}
    .contact-form .btn, .contact-form textarea.form-control {margin: 0;}
    /*Quote*/
    .quote-box-text {margin-left: -50px;}    
    .quote-text p {font-size: 16px; margin-bottom: 35px;}
    /*Client Review*/
    .review p, .click-block p{font-size: 16px;}
    .click-block{padding: 20px;}
    .review-block-text p{font-size: 18px;}
    /*Login*/
    .login {margin: 0 15px; font-size: 14px;}
    .login .form-check-input {margin-top: 5px;}
    .login-form .forms{width: 380px;}
    .reg-text {margin: 0;}
    .login-form p {font-size: 14px;}
    /*Register*/
    .reg-gradient, .reg-bottom-text{padding: 40px;}
    .reg-gradient p, .reg-bottom-text p{font-size: 22px;}
    .reg-gradient a {font-size: 26px;}
    /*Order*/
    .sidebar .nav a{padding: 10px; font-size: 14px;}
    .sidebar .nav a.firstchild{font-size: 16px;}
    .orders table th, .orders table td{padding: 10px; font-size: 16px;}
    .dashboard-box{padding: 25px;}
    .address h5 {font-size: 18px;}
    .address p {font-size: 16px; line-height: 26px;}
    .acc-details label {font-size: 18px;}
}

/*1280-1440*/
@media (min-width: 1200px) and (max-width: 1440px) { 
    /*Common*/
    section {padding: 70px 0;}
    .banner div{padding-left: 0;}
    /*Header*/
    header .nav-right .dropdown {margin: 0 25px;}
    header .lang-drop{margin-top: 6px;}
    .our-partners .container-fluid {width: 100%;}
    /*Home Banner*/
    .home-banner .carousel-caption {left: 4%; top: 0;}
    .home-banner .carousel-caption h2 {font-size: 32px; margin-bottom: 15px;}
    .home-banner .carousel-caption h2 span {font-size: 28px;}
    .home-banner .btn-primary {padding: 18px 40px !important;}
    .home-banner .carousel-caption h4 {font-size: 16px; margin-bottom: 20px;}
    .home-banner .carousel-caption p {font-size: 18px; margin-bottom: 15px;}
    .home-banner .col-md-3 {flex: 0 0 35%; max-width: 35%;}
    .home-banner .carousel-caption h4 span {font-size: 20px;}
    .home-banner .carousel-caption h5{margin-top: 10px;}
    .home-banner .carousel-caption img {margin-bottom: 10px; width: 28%;}
    /*Footer*/
    footer p{padding: 25px 0;}
    footer .other-links ul li{margin: 25px 25px;}
    /*Home Banner*/
    .carousel-caption .col-lg-3 {flex: 0 0 40%; max-width: 40%;}
    /*Compliance*/
    .comp-logos .col-md-6 {padding: 0 15px;}
    .comp-logos .row {margin: 0 -15px;}
    .comp-box{margin-bottom: 30px;}
    /*Follow*/
    .follow{height: 760px;}
    .buss-sol p {margin-bottom: 36px;}
    /*Our Partners Home*/
    .our-partners{background: #fff; height: auto;}
    .p-logo{margin-bottom: 30px;}
    .owl-theme .owl-dots{margin-top: -20px;}
    .testimonial{background: #0e173f; height: auto; border-radius: 20px; padding: 20px;}
    .testimonial p{padding-top: 20px;font-size: 17px;}
    .testi-quote{top: 0;}
    .testimonial h4 {font-size: 20px; margin-bottom: 10px;} 
    .testimonial h5 {font-size: 16px;}
    .testimonial h6 {font-size: 14px;}
    .testimonial .owl-theme .owl-nav {margin-top: 20px;}
    .testimonial .owl-theme .owl-nav [class*='owl-'] {margin: 10px;}
    .partner-logos .col-md-6 {padding: 0 15px;}
    .partner-logos .row {margin: 0 -15px;}
    /*About Page*/
    .aboutbg-text p{margin-bottom: 40px; font-size: 22px;}
    .about-content p, .pros-check p{font-size: 16px;}
    .pros-check .btn {margin: 40px 0;}
    /*Blog*/
    .blog-detail{font-size: 16px;}
    .blog-detail p {margin-bottom: 25px;}
    /*Contact Us*/
    .g-map Iframe {height: 965px;}
    .contact-here {margin-bottom: 100px;}
    .contact-here p, .contact-here a {font-size: 18px;}
    .contact-form .btn, .contact-form textarea.form-control {margin: 0;} 
    /*Client Review*/
    .review p{font-size: 16px;}
    /*Login*/
    .login {margin: 0 15px;}
    /*Register*/
    .reg-gradient, .reg-bottom-text{padding: 50px;}
    .reg-gradient p, .reg-bottom-text p{font-size: 26px;}
    .reg-gradient a {font-size: 30px;}
    /*Orders*/
    .sidebar .nav a{font-size: 18px; padding: 20px 25px;}
}


/*1440*/
@media (min-width: 1367px) and (max-width: 1440px){ 
    
}

/*1600*/
@media (min-width: 1441px) and (max-width: 1600px){ 
    /*Common*/
    .banner div{padding-left: 90px;}
    /*Home Banner*/
    .carousel-caption .col-lg-3 {flex: 0 0 40%; max-width: 40%;}
    .home-banner .carousel-caption h2 {font-size: 36px; margin-bottom: 15px;}
    .home-banner .carousel-caption h2 span {font-size: 28px;}
    .home-banner .btn-primary {padding: 18px 40px !important;}
    .home-banner .carousel-caption h4 {font-size: 16px; margin-bottom: 20px;}
    .home-banner .carousel-caption {left: 8%;}
    .home-banner .carousel-caption p {font-size: 18px; margin-bottom: 15px;}
    .home-banner .col-md-3 {flex: 0 0 35%; max-width: 35%;}
    .home-banner .carousel-caption h4 span {font-size: 20px;}
    /*Footer*/
    footer p{padding: 25px 0;}
    footer .other-links ul li{margin: 25px 25px;}
    /*Contact Us*/
    .g-map Iframe {height: 915px;}
    .contact-form .btn, .contact-form textarea.form-control {margin: 0;}
}

/*1600-1800*/
@media (min-width: 1601px) and (max-width: 1800px){ 
    .home-banner .carousel-caption{top: 0;}
    .banner div{padding-left: 188px;}
}