@charset "utf-8";
@import url('../css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

/*Common*/
html{overflow-x: hidden;}
body{font-family: 'Open Sans', sans-serif;}
h1, h2, h3, h4, h5, h6{margin: 0; padding: 0;}
ul, li{list-style: none; padding: 0; margin: 0;}
a{text-decoration: none !important;}
a:focus {outline: none;}
section{padding: 135px 0;}
p{margin: 0; font-size: 20px; color: #000;}
.btn {background: rgba(215,148,54,1); background: -moz-linear-gradient(top, rgba(215,148,54,1) 0%, rgba(152,80,14,1) 100%); background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(215,148,54,1)), color-stop(100%, rgba(152,80,14,1))); background: -webkit-linear-gradient(top, rgba(215,148,54,1) 0%, rgba(152,80,14,1) 100%); background: -o-linear-gradient(top, rgba(215,148,54,1) 0%, rgba(152,80,14,1) 100%); background: -ms-linear-gradient(top, rgba(215,148,54,1) 0%, rgba(152,80,14,1) 100%); background: linear-gradient(to bottom, rgba(215,148,54,1) 0%, rgba(152,80,14,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d79436', endColorstr='#98500e', GradientType=0 ); color: #fff !important; font-size: 16px; font-weight: 700; text-transform: uppercase; border-radius: 15px; padding: 20px 60px; border: none;}
.btn-primary:hover{background-color: transparent; color: #fff;}
.btn-primary.focus, .btn-primary:focus {background-color: transparent; border-color: transparent; box-shadow: none;}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {box-shadow: none;}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {color: #fff; background-color: transparent; border-color: transparent;}
.color-darkblue{color: #273070 !important;}
.color-black{color: #000 !important;}
.color-white{color: #fff !important;}
.bg-blue{background: rgba(37,45,107,1); background: -moz-linear-gradient(top, rgba(37,45,107,1) 0%, rgba(9,12,45,1) 100%); background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(37,45,107,1)), color-stop(100%, rgba(9,12,45,1))); background: -webkit-linear-gradient(top, rgba(37,45,107,1) 0%, rgba(9,12,45,1) 100%); background: -o-linear-gradient(top, rgba(37,45,107,1) 0%, rgba(9,12,45,1) 100%); background: -ms-linear-gradient(top, rgba(37,45,107,1) 0%, rgba(9,12,45,1) 100%); background: linear-gradient(to bottom, rgba(37,45,107,1) 0%, rgba(9,12,45,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#252d6b', endColorstr='#090c2d', GradientType=0 );}
h1{font-size: 42px; font-weight: 700; text-transform: uppercase; margin-bottom: 40px;}
.form-control {height: 60px; color: #666; background-color: #f5f5f5; border: none; border-radius: 0;}
textarea.form-control {height: unset !important; padding-top: 15px;}
.form-group{margin-bottom: 28px; position: relative;}
.form-control:focus{box-shadow: none; background-color: #f5f5f5;}
.form-group.lastchild{margin-bottom: 0;}

/*Header*/
.nav-right {display: inline-flex; float: right;}
header{background: rgba(10,104,181,1); background: -moz-linear-gradient(top, rgba(10,104,181,1) 0%, rgba(6,19,55,1) 100%); background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(10,104,181,1)), color-stop(100%, rgba(6,19,55,1))); background: -webkit-linear-gradient(top, rgba(10,104,181,1) 0%, rgba(6,19,55,1) 100%); background: -o-linear-gradient(top, rgba(10,104,181,1) 0%, rgba(6,19,55,1) 100%); background: -ms-linear-gradient(top, rgba(10,104,181,1) 0%, rgba(6,19,55,1) 100%); background: linear-gradient(to bottom, rgba(10,104,181,1) 0%, rgba(6,19,55,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a68b5', endColorstr='#061337', GradientType=0 ); padding: 16px 0;}
header .logo a{color: #fff !important; font-size: 28px; font-weight: 400;}
header .gradient-btn{background: rgba(215,148,54,1); background: -moz-linear-gradient(top, rgba(215,148,54,1) 0%, rgba(152,80,14,1) 100%); background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(215,148,54,1)), color-stop(100%, rgba(152,80,14,1))); background: -webkit-linear-gradient(top, rgba(215,148,54,1) 0%, rgba(152,80,14,1) 100%); background: -o-linear-gradient(top, rgba(215,148,54,1) 0%, rgba(152,80,14,1) 100%); background: -ms-linear-gradient(top, rgba(215,148,54,1) 0%, rgba(152,80,14,1) 100%); background: linear-gradient(to bottom, rgba(215,148,54,1) 0%, rgba(152,80,14,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d79436', endColorstr='#98500e', GradientType=0 ); color: #fff !important; font-size: 16px; font-weight: 700; text-transform: uppercase; border-radius: 15px; padding: 12px 40px !important;}
header .menu-drop::after{display: none;}
header .menu-drop {margin-top: 10px; background: transparent; padding: 0 !important;}
header .lang-drop {background: none; padding: 0 !important; color: #fff !important; font-size: 16px; font-weight: 700; text-transform: uppercase; margin-top: 6px;}
header .nav-right .dropdown {margin: 0 35px;}

/*Footer*/
footer{padding-top: 50px; padding-bottom: 10px; text-align: center; background: rgba(11,107,186,1); background: -moz-linear-gradient(top, rgba(11,107,186,1) 0%, rgba(7,22,59,1) 100%); background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(11,107,186,1)), color-stop(100%, rgba(7,22,59,1))); background: -webkit-linear-gradient(top, rgba(11,107,186,1) 0%, rgba(7,22,59,1) 100%); background: -o-linear-gradient(top, rgba(11,107,186,1) 0%, rgba(7,22,59,1) 100%); background: -ms-linear-gradient(top, rgba(11,107,186,1) 0%, rgba(7,22,59,1) 100%); background: linear-gradient(to bottom, rgba(11,107,186,1) 0%, rgba(7,22,59,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b6bba', endColorstr='#07163b', GradientType=0 );}
footer .footer-logo{margin-bottom: 50px;}
footer .footer-links ul li {display: inline-block; margin-bottom: 25px;}
footer .footer-links ul li a {color: #fff; font-size: 17px; font-weight: 400;}
footer .footer-links ul li:after {content: '|'; font-size: 17px; color: #4890cb; padding: 0 20px;}
footer .footer-links ul li.lastchild:after {display: none;}
footer hr{border-top: 1px solid #4890cb;}
footer .other-links ul li {display: inline-block; margin: 30px 25px;}
footer .other-links ul li a {color: #fff; font-size: 17px; font-weight: 400; transition: 0.3s;}
footer .other-links ul li a:hover, footer .footer-links ul li a:hover {color: #cf942a; transition: 0.3s;}
footer p {font-size: 17px; color: #fff; padding: 30px 0;}
footer a{color: #fff; font-size: 20px;}
footer a:hover{color: #cf942a;}
.left-angle {color: #1da099;}
.right-angle {color: #fbaf42;}

/*Home Banner*/
.home-banner .carousel-control-next, .home-banner .carousel-control-prev, .home-banner .carousel-indicators{display: none;}
.home-banner .carousel-caption {left: 15%; right: unset; top: 20px; text-align: left;}
.home-banner .carousel-caption img{margin-bottom: 20px;}
.home-banner .carousel-caption p{font-size: 20px; color: #fff; font-weight: 600; margin-bottom: 22px;}
.home-banner .carousel-caption h2{font-size: 55px; color: #fff; font-weight: 700; margin-bottom: 36px;}
.home-banner .carousel-caption h2 span{font-size: 45px; color: #fff; font-weight: 600;}
.home-banner .carousel-caption h4{font-size: 20px; color: #fff; font-weight: 400; margin-bottom: 40px;}
.home-banner .carousel-caption h4 span{font-size: 24px;}
.home-banner .carousel-caption h5{font-size: 18px; font-weight: 400; color: #fff; margin-top: 20px; text-align: center;}
.home-banner .carousel-caption h5 span{font-size: 22px; font-weight: 700;}
.home-banner .btn-primary{padding: 18px 0 !important; width: 100%;}

/*Compliance Home Page*/
.comp-box {border: 1px solid #ccc; border-radius: 20px; text-align: center; padding: 25px; min-height: 220px; margin-bottom: 60px;}
.comp-img {height: 110px; display: flex; justify-content: center; align-items: center;}
.comp-box h6{font-size: 20px; color: #000; text-transform: uppercase; font-weight: 600; line-height: 24px; display: flex; align-items: center; justify-content: center; height: 58px;}
.comp-logos .col-md-6 {padding: 0 46px;}
.comp-logos .row {margin: 0 -46px;}
.buss-sol p{font-size: 20px; margin-bottom: 38px;}
.buss-sol .btn{margin-top: 42px;}

/*Follow Steps Home Page*/
.follow{background: url(../images/follow-bg.jpg) top center no-repeat; height: 814px;}
.follow h1{margin-bottom: 75px;}
.num{text-align: center; display: flex; justify-content: center;}
.num h5 {font-size: 150px; color: #c5c5c5; font-weight: 700; line-height: 108px;}
.num p {text-align: left; color: #fff; text-transform: uppercase;}
.num p span{background-color: #fff; color: #273070; font-weight: 700; padding: 2px;}
.follow-btn{margin-top: 115px;}

/*Why VC Home Page*/
.why{padding: 70px; background-color: #fff; -webkit-box-shadow: 0px 0px 20px -10px rgba(0,0,0,1); -moz-box-shadow: 0px 0px 20px -10px rgba(0,0,0,1); box-shadow: 0px 0px 20px -10px rgba(0,0,0,1); border-radius: 20px; margin-top: -140px;}
.why h1{margin-bottom: 70px;}
.why-box {display: flex; margin-bottom: 70px;}
.why-box p{font-size: 22px; font-weight: 600; color: #273175; text-transform: uppercase; margin-left: 20px; display: flex; align-items: center;}

/*Our Partners Home Page*/
.p-logo {border: 1px solid #ccc; border-radius: 20px; padding: 25px; min-height: 140px; margin-bottom: 60px; display: flex; justify-content: center; align-items: center;}
.partner-logos .col-md-6 {padding: 0 30px;}
.partner-logos .row {margin: 0 -30px;}
.partner-logos .owl-nav {display: none;}
.partner-logos .owl-theme .owl-dots .owl-dot span{background: #273070; height: 15px; width: 15px;}
.partner-logos .owl-carousel .owl-item img{width: auto;}

/*Testimonial Home Page*/
.our-partners{background: url(../images/testi-bg.png) top right no-repeat; height: 632px; border-radius: 20px; border-top-left-radius: 20px; border-bottom-left-radius: 20px; background-position: 112%;}
.testimonial{color: #fff; font-weight: 400;}
.testimonial p{font-size: 22px; margin-bottom: 45px; padding-top: 115px; color: #fff;}
.testimonial h4{font-size: 24px; font-weight: 600; margin-bottom: 20px;}
.testimonial h5{font-size: 20px; font-weight: 600; margin-bottom: 10px;}
.testimonial h6{font-size: 16px;}
.testi-quote {position: absolute; top: 95px; left: 0;}
.testimonial .owl-dots {display: none;}
.testimonial .owl-prev {background: url(../images/left.png) !important; height: 29px; width: 39px;}
.testimonial .owl-next {background: url(../images/right.png) !important; height: 29px; width: 39px;}
.testimonial .owl-prev span, .testimonial .owl-next span {display: none;}
.testimonial .owl-theme .owl-nav {margin-top: 80px; text-align: right;}
.testimonial .owl-theme .owl-nav [class*='owl-']{margin: 20px;}
.our-partners .container-fluid {width: 1600px;}

/*About us Page*/
.about-content h1{margin-bottom: 60px;}
.about-content p{line-height: 32px;}
.about-section1 p{margin-bottom: 68px;}
.about-section1{margin-bottom: 90px;}
.about-section2{margin-bottom: 90px;}
.about-section2 p {margin-bottom: 20px;}
.about-section2 .comp-box{margin-bottom: 20px;}
.about-section2 .comp-logos .row {margin: 0 -10px;}
.about-section2 .comp-logos .col-md-6 {padding: 0 10px;}
.about-section3 p{margin-bottom: 68px;}

.aboutbg {position: relative;}
.aboutbg-text {text-align: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 65%;}
.aboutbg-text p {text-align: center; font-size: 30px; font-weight: 600; color: #fff; margin-bottom: 60px;}
.aboutbg-text a {font-size: 40px; font-weight: 600; color: #dc8325;}
.pros-check .btn{margin: 50px 0;}

.ind-sector{background-color: #f5f5f5;}
.ind-sector h1{margin-bottom: 60px;}
.ind-sector ul li {display: inline-block; width: 25%; float: left; font-size: 16px; color: #000; position: relative; padding-left: 20px;}
.ind-sector ul li:after {content: ''; border-bottom: 1px solid #e9e9e9; height: 1px; width: 84px; display: block; margin: 15px 0;}
.ind-sector ul li::before{content: url(../images/right-arrow.png); margin-right: 12px; position: absolute; left: 0; top: 3px;}

/*Inner Banner*/
.banner{background: url(../images/inner-banner.png) top center no-repeat; height: 400px; text-align: left;  align-items: unset; justify-content: unset; margin: 0;}
.banner div{padding-top: 175px; padding-right: 175px; font-size: 55px; color: #fff; font-weight: 700; text-align: left; padding-left: 228px; text-transform: uppercase;}

/*Blog Listing*/
.blog-box-text{padding: 35px;}
.blog-box-text h4{font-size: 20px; color: #000; font-weight: 600; display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-bottom: 30px;}
.border-class{border-left: 2px solid #0d75c9; padding-left: 18px;}
.border-class span{color: #787878; font-size: 16px; font-weight: 600;}
.border-class span strong{color: #000;}
.blog-box-text p {margin: 35px 0; display: -webkit-box; max-width: 100%; -webkit-line-clamp: 4; -webkit-box-orient: vertical; overflow: hidden; min-height: 120px;}
.blog-box {margin-bottom: 30px; border: 1px solid #e6e6e6;}
.blog-img {height: 394px; position: relative; border-bottom: 1px solid #e6e6e6;}
.blog-img img {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}

/*Blog detail*/
.blog-detail{font-size: 20px; color: #000;}
.blog-detail img{margin-bottom: 30px;}
.blog-detail p{margin-bottom: 30px;}
.blog-detail h1{font-size: 35px; font-weight: 600; color: #000; text-transform: capitalize; margin-bottom: 30px;}

/*Recent Blog*/
.recent-blogs h1{margin-top: 100px;}
.recent-blogs .blog-box {margin-bottom: 30px; border: none;}
.recent-blogs .blog-img {height: 353px; border: none;}
.recent-blogs .blog-box-text{padding: 20px 0 20px 0;}
.recent-blogs .owl-carousel .owl-item img{width: auto;}
.recent-blogs .blog-box-text p {font-weight: 600; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; min-height: 36px; margin: 0 0 20px 0; width: 70%;}
.recent-blogs .owl-theme .owl-nav{display: none;}
.recent-blogs .owl-theme .owl-dots .owl-dot span {background: #273070; height: 15px; width: 15px;}
.recent-blogs .owl-theme .owl-dots {margin-top: 0;}

/*Faqs*/
.faq .panel-toggle {width: 100%; text-align: left; padding: 30px; background-color: #f5f5f5; color: #000; font-weight: 600; font-size: 20px; border: none;}
.faq .panel-body {padding: 30px; font-size: 20px; color: #000; background-color: #f5f5f5;}
.faq .active-panel .panel-toggle {background-color: #0d75c9; color: #fff;}
.faq .panel-wrap {margin-bottom: 30px;}
.faq .panel-toggle:before {font-family: 'FontAwesome'; content: "\f106"; float: right; transition: all 0.5s;}
.faq .active-panel .panel-toggle:before {-webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); transform: rotate(180deg);}

/*Contact Us*/ 
.g-map Iframe{height: 994px; width: 100%; border: none;}

.contact-here{margin-bottom: 140px;}
.contact-box{border-radius: 15px; -webkit-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.4); -moz-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.4); box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.4); padding: 60px; height: 276px;}
.contact-img {display: inline-flex; margin-bottom: 46px;}
.contact-img h4 {height: 50px; align-items: center; display: flex; margin-left: 26px; font-weight: 600; font-size: 24px; color: #000; text-transform: uppercase;}
.contact-here p, .contact-here a{font-size: 20px; color: #273170;}

.form-box {-webkit-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.4); -moz-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.4); box-shadow: 0px 0px 10px -5px rgb(0 0 0 / 40%); border-radius: 15px; overflow: hidden;}
.contact-form{padding: 70px;}
.contact-form .form-control {height: 60px; color: #000; background-color: #f5f5f5; border: none;}
.contact-form textarea.form-control {height: unset !important; margin-bottom: 60px;}
.contact-form .form-group{margin-bottom: 28px; position: relative;}
.contact-form .form-control:focus{box-shadow: none;}
.contact-form .error {color: #d9534f; font-size: 14px; position: absolute; bottom: -20px; left: 2px;}
.contact-form .btn{margin-top: 40px;}

/*Get a Quote*/
.quote-main{margin-bottom: 130px;}
.quote h1{margin-bottom: 80px;}
.quote-text p{margin-bottom: 50px;}
.quote-bg{background: url(../images/quote-bg.png) top center no-repeat; height: 645px; text-align: center;}
.quote-bg p {color: #fff; font-weight: 600; font-size: 30px; padding-top: 120px; padding-bottom: 70px;}
.quote-box {margin-top: -250px;}
.block-class{display: block; margin-left: 22px;}
.block-class h6{color: #273175; font-size: 22px; font-weight: 600; text-transform: capitalize; margin-bottom: 18px;}
.block-class p{margin-left: 0; text-transform: unset; font-weight: 400;}
.quotation #g-recaptcha{display: inline-block;}

/*Client Review*/
.review {background-color: #fbf9f9; padding: 40px; margin-bottom: 30px;}
.review p {margin: 30px 0;}
.testi-profile {display: flex;}
.testi-profile .fixed-img {height: 94px; width: 94px; overflow: hidden; border-radius: 50%;}
.testi-profile .fixed-img img {max-width: 100%; height: 100%; object-fit: cover;}
.block-text {margin-left: 25px;}
.block-text h5 {font-size: 20px; color: #000; font-weight: 600; margin-bottom: 15px;}
.block-text h6 {font-size: 16px; font-weight: 600; color: #787878; margin-bottom: 10px;}
.block-text h4 {font-size: 16px; font-weight: 600; color: #0963ad;}
.review-blocks{background-color: #fbfafa;}
.click-block{background: rgba(10,104,181,1); background: -moz-linear-gradient(top, rgba(10,104,181,1) 0%, rgba(6,19,55,1) 100%); background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(10,104,181,1)), color-stop(100%, rgba(6,19,55,1))); background: -webkit-linear-gradient(top, rgba(10,104,181,1) 0%, rgba(6,19,55,1) 100%); background: -o-linear-gradient(top, rgba(10,104,181,1) 0%, rgba(6,19,55,1) 100%); background: -ms-linear-gradient(top, rgba(10,104,181,1) 0%, rgba(6,19,55,1) 100%); background: linear-gradient(to bottom, rgba(10,104,181,1) 0%, rgba(6,19,55,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a68b5', endColorstr='#061337', GradientType=0 ); padding: 50px; border-radius: 15px; text-align: center;}
.click-block h4{font-size: 30px; font-weight: 600; color: #fff; margin-bottom: 20px;}
.click-block p{color: #fff; margin-bottom: 40px;}
.review-block-text p{font-weight: 600; margin-top: 40px; text-align: center;}

/*Login*/
/*Login & Reg*/
.login-img {position: relative;}
.login-img img{width: 100%; height: auto;}
.login-img-text {position: absolute; top: 50%; left: 50%; color: #fff; transform: translate(-50%, -50%); width: 350px;}
.login-img-text h2 {font-weight: 700; font-size: 42px; text-transform: uppercase; color: #fff; text-align: center;}
.login-form{position: relative; height: 100%; background: rgba(10,104,181,1); background: -moz-linear-gradient(top, rgba(10,104,181,1) 0%, rgba(6,19,55,1) 100%); background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(10,104,181,1)), color-stop(100%, rgba(6,19,55,1))); background: -webkit-linear-gradient(top, rgba(10,104,181,1) 0%, rgba(6,19,55,1) 100%); background: -o-linear-gradient(top, rgba(10,104,181,1) 0%, rgba(6,19,55,1) 100%); background: -ms-linear-gradient(top, rgba(10,104,181,1) 0%, rgba(6,19,55,1) 100%); background: linear-gradient(to bottom, rgba(10,104,181,1) 0%, rgba(6,19,55,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a68b5', endColorstr='#061337', GradientType=0 );}
.login-form .forms {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 600px;}
.login-form p{color: #fff;}
.login-form .forgot-pwd a{float: right; color: #d38f32;}
.login-form .no-acc p{text-align: center; margin-top: 25px; margin-bottom: 0; color: #dcdcdc;}
.login-form .no-acc a{color: #d38f32;}
.login ::placeholder {color: #e1e1e1;}
.login .form-control {border: 1px solid #fff; background-color: transparent; color: #e1e1e1;}
.login .form-check label{color: #fff;}
.login {font-size: 20px;}
.login .form-check-input{margin-top: 9px;}
.login-btn {text-align: center;}

/*Register*/
.reg-gradient{background: rgba(10,104,181,1); background: -moz-linear-gradient(top, rgba(10,104,181,1) 0%, rgba(6,19,55,1) 100%); background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(10,104,181,1)), color-stop(100%, rgba(6,19,55,1))); background: -webkit-linear-gradient(top, rgba(10,104,181,1) 0%, rgba(6,19,55,1) 100%); background: -o-linear-gradient(top, rgba(10,104,181,1) 0%, rgba(6,19,55,1) 100%); background: -ms-linear-gradient(top, rgba(10,104,181,1) 0%, rgba(6,19,55,1) 100%); background: linear-gradient(to bottom, rgba(10,104,181,1) 0%, rgba(6,19,55,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a68b5', endColorstr='#061337', GradientType=0 ); padding: 75px; text-align: center;}
.reg-gradient p{font-size: 30px; font-weight: 600; color: #fff; margin-bottom: 25px;}
.reg-gradient a{font-size: 40px; font-weight: 600; color: #dc8325; margin-bottom: 25px;}
.reg-gradient span{font-size: 16px; color: #b8b8b8; font-style: italic;}
.reg-form{margin-bottom: 40px;}
.reg-form.lastchild{margin-bottom: 0;}
.note{margin-bottom: 30px;}
.note p{font-size: 16px; color: #b8b8b8; font-style: italic; text-align: center;}
.reg-form #g-recaptcha{display: inline-block; margin-top: 20px;}
.reg-bottom-text{background-color: #fbfafa; text-align: center; padding: 100px;}
.reg-bottom-text p{font-style: italic; font-size: 30px; font-weight: 600; color: #787878;}

/*Sidebar*/
.sidebar .nav{background: rgba(10,104,181,1); background: -moz-linear-gradient(top, rgba(10,104,181,1) 0%, rgba(6,19,55,1) 100%); background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(10,104,181,1)), color-stop(100%, rgba(6,19,55,1))); background: -webkit-linear-gradient(top, rgba(10,104,181,1) 0%, rgba(6,19,55,1) 100%); background: -o-linear-gradient(top, rgba(10,104,181,1) 0%, rgba(6,19,55,1) 100%); background: -ms-linear-gradient(top, rgba(10,104,181,1) 0%, rgba(6,19,55,1) 100%); background: linear-gradient(to bottom, rgba(10,104,181,1) 0%, rgba(6,19,55,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a68b5', endColorstr='#061337', GradientType=0 );}
.sidebar .nav a.firstchild {background: rgba(215,148,54,1); background: -moz-linear-gradient(top, rgba(215,148,54,1) 0%, rgba(152,80,14,1) 100%); background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(215,148,54,1)), color-stop(100%, rgba(152,80,14,1))); background: -webkit-linear-gradient(top, rgba(215,148,54,1) 0%, rgba(152,80,14,1) 100%); background: -o-linear-gradient(top, rgba(215,148,54,1) 0%, rgba(152,80,14,1) 100%); background: -ms-linear-gradient(top, rgba(215,148,54,1) 0%, rgba(152,80,14,1) 100%); background: linear-gradient(to bottom, rgba(215,148,54,1) 0%, rgba(152,80,14,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d79436', endColorstr='#98500e', GradientType=0 ); color: #fff; text-align: center; font-size: 20px; font-weight: 600;}
.sidebar .nav a{padding: 20px 35px; border-bottom: 1px solid #4b759f; width: 100%; font-size: 20px; color: #fff; display: block; transition: 0.3s;}  
.sidebar .nav a:hover {background-color: #569ddc; transition: 0.3s;}
.sidebar .nav a.active{background-color: #569ddc;}
.sidebar .nav a img{margin-right: 12px;}
.sidebar .no-active{background: transparent !important;}

.orders table{border: 1px solid #dee2e6;}
.orders table th {font-size: 20px; font-weight: 600; color: #000; padding: 25px;}
.orders table td {font-size: 18px; color: #000; padding: 25px;}

.dashboard-box {border: 1px solid #eaeaea; padding: 35px;}
.address h5 {font-size: 20px; margin-bottom: 30px;}
.address h4 {font-size: 20px; font-weight: 600; margin-bottom: 15px;}
.address p {font-size: 18px; line-height: 30px;}
.address .btn{font-size: 16px; padding: 12px 35px;}

.acc-details label {font-size: 20px; font-weight: 600;}
.acc-details label span{color: #ff0000;}
.acc-details .form-group{margin-bottom: 35px;}
